body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #000; /* Fundo preto */
    color: white;
}

h1 {
    color: #ff5555; /* Título em vermelho */
}

#controls {
    margin: 20px;
}

#controls label, #controls input {
    margin-right: 15px;
}

#previews {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

canvas {
    border: 1px solid white; /* Bordas brancas nas imagens */
    margin: 10px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #ff5555; /* Botões vermelhos */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff2222; /* Mudança de cor ao passar o mouse */
}
